@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
  box-sizing: border-box;
}

html,
body,
ul,
li {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1px;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", "sans-serif";
}

.centerContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Navigation row */
.navRow {
  display: flex;
  font-size: 20px;
}

#navLogo {
  font-size: 32px;
}

.navRow > ul {
  display: flex;
  width: 100%;
  list-style: none;
  justify-content: space-around;
}

.navRow > ul > li {
  flex: 1;
  padding: 16px;
}

.navRow > ul > #navLogo {
  flex: 4;
  font-weight: bold;
  color: rgb(58, 76, 98);
}

.navRow > ul > li > a {
  text-decoration: none;
  color: rgb(58, 76, 98);
}

/* Hero Row */

.heroRow {
  display: flex;
  position: relative;
  height: calc(100vh - 100px);
  flex-direction: column;
  background-color: #5b93ca;
  background-image: url("/images/20190422_121631\ \(1\).jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  text-align: center;
  padding: 32px;
}

.heroRow > .centerContainer > h1 {
  position: absolute;
  top: 30%;
  left: 50%;
  font-size: 80px;
  width: 100%;
  color: #fff;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  transition: 0.5s;
  background: linear-gradient(rgb(58, 76, 98) 20%, transparent 110%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heroRow > .centerContainer > h1:hover {
  letter-spacing: 10px;
}

.buttonRow {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

/* Featured section */
.featuresRow {
  display: flex;
  justify-content: center;
  background-image: url("/images/88847-pastelBG.jpg");
  background-color: #f5f5f5;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  text-align: center;
  padding: 90px;
}

.featuresRow > .centerContainer > h1 {
  font-size: 60px;
}

.featuresRow > .centerContainer > hr {
  width: 150px;
  border: 2px solid #f6d9eb;
  background-color: #f6d9eb;
  margin-bottom: 50px;
}

.featuredItemRow {
  display: flex;
  align-items: center;
}

.featuredItemBox {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 16px 8px;
}

.featuredItemBox > p {
  margin: 0;
  font-weight: bold;
}

.featuredItemBox > hr {
  width: 100px;
  border: 2px solid #afd2f0;
  background-color: #afd2f0;
  margin-bottom: 50px;
}

.featuredItemBox > img {
  width: 80%;
  height: auto;
}

/* Email row */

.priceSection {
  display: flex;
  color: #fff;
  flex-direction: column;
  background-color: #8fbeee;
  background-image: url("/images/inside.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  text-align: center;
  padding: 32px;
}

.priceSection > .centerContainer > h1 {
  padding: 16px;
}

/* .emailForm {
  display: flex;
  width: 100%;
  margin: 10px;
}

.emailForm > input[type="text"] {
  flex: 8;
  border: none;
  padding: 14px;
  text-align: center;
}

.emailForm > button {
  flex: 1;
  padding: 14px;
  font-weight: bold;
  border: none;
  background-color: #f5c894;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
} */

/* Contact section */
.contactSection {
  text-transform: uppercase;
  display: flex;
  width: 1200px;
  height: 200px;
  margin: 20px auto;
  color: #000;
  padding: 32px;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.contactSection > .cardBox {
  /* position: relative; */
  width: calc(400px - 20px);
  height: calc(300px - 20px);
  float: left;
  margin: 15px;
  overflow: hidden;
  border-radius: 10px;
}

/* .contactSection > .cardBox > .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.5s;
  z-index: 1;
} */

/* Buttons */
.btn {
  padding: 14px;
  font-weight: bold;
  border: none;
  background-color: #85a8ca;
  color: #fff;
  width: 192px;
  font-size: 14px;
  text-transform: uppercase;
}

.btnPro {
  background-color: #f5c894;
}

/* Icon Footer */

.socialRow {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.socialRow > .centerContainer > ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.socialRow > .centerContainer > ul > li {
  background-color: #344c64;
  border-radius: 50%;
  text-align: center;
  padding: 14px;
  fill: #fff;
  color: #fff;
}

p > a {
  text-decoration: none;
  color: #365e86;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
