@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
  box-sizing: border-box;
}

html,
body,
ul,
li {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1px;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", "sans-serif";
}

.centerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Navigation Section */
.navRow {
  display: flex;
  font-size: 20px;
}

#navLogo {
  font-size: 32px;
}

.navSection > ul {
  display: flex;
  width: 100%;
  list-style: none;
  justify-content: space-around;
}

.navSection > ul > li {
  flex: 1;
  padding: 16px;
}

.navSection > ul > #navLogo {
  flex: 4;
  font-weight: bold;
  color: rgb(58, 76, 98);
}

.navSection > ul > li > a {
  text-decoration: none;
  color: rgb(58, 76, 98);
}

/* Hero Section */

.heroSection {
  display: flex;
  position: relative;
  height: calc(100vh - 100px);
  flex-direction: column;
  background-color: #5b93ca;
  background-image: url("/images/shop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  text-align: center;
  padding: 32px;
}

.heroSection > h1 {
  position: absolute;
  top: 30%;
  left: 50%;
  font-size: 80px;
  width: 100%;
  color: #fff;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  transition: 0.5s;
  background: linear-gradient(rgb(58, 76, 98) 20%, transparent 110%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heroSection > .centerContainer > h1:hover {
  letter-spacing: 12px;
}

/* About Section */
.aboutSection {
  display: flex;
  justify-content: center;
  background-image: url("/images/88847-pastelBG.jpg");
  background-color: #f5f5f5;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  text-align: center;
  padding: 90px;
}

.aboutSection > .centerContainer {
  width: 50%;
}

.aboutSection > .centerContainer > h1 {
  font-size: 60px;
  color: rgb(58, 76, 98);
}

.aboutSection > .centerContainer > h2 {
  padding-bottom: 20px;
  color: #111;
  text-shadow: 2px 2px 10px #bcd6f0;
}

.aboutSection > .centerContainer > hr {
  width: 150px;
  border: 2px solid #f6d9eb;
  background-color: #f6d9eb;
  margin-bottom: 50px;
  animation: move 1000ms infinite alternate;
}

.aboutItemSection {
  display: flex;
  align-items: center;
}

.aboutItemBox {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 16px 8px;
}

.aboutItemBox > p {
  margin: 0;
  font-weight: bold;
}

.aboutItemBox > hr {
  width: 100px;
  border: 2px solid #f6d9eb;
  background-color: #f6d9eb;
  margin-bottom: 50px;
}

.aboutItemBox > img {
  width: 80%;
  height: auto;
}

/* Service Section */

.serviceSection {
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: #8fbeee;
  align-items: center;
  text-align: center;
  padding: 32px;
}

.serviceSection > .centerContainer {
  width: 90%;
}

.serviceSection > .centerContainer > h1 {
  font-size: 60px;
  color: rgb(58, 76, 98);
}

.serviceSection > .centerContainer > hr {
  width: 150px;
  border: 2px solid #e5f6fd;
  background-color: #e5f6fd;
  margin-bottom: 50px;
  animation: move 1000ms infinite alternate;
}

.serviceSection > .centerContainer > .priceList {
  text-transform: uppercase;
  width: 100%;
  border: 3px solid #fff;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row > .pricing-box {
  list-style: none;
  border: 3px solid #111;
}

.row > .pricing-box > ul > li {
  display: flex;
  border: 3px dotted #f5c894;
}

/* Contact section */
.contactSection {
  text-transform: uppercase;
  display: flex;
  width: 1200px;
  height: 200px;
  margin: 20px auto;
  color: #000;
  padding: 32px;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.contactSection > .cardBox {
  /* position: relative; */
  width: calc(400px - 20px);
  height: calc(300px - 20px);
  float: left;
  margin: 15px;
  overflow: hidden;
  border-radius: 10px;
}

/* Buttons */
.btn {
  padding: 14px;
  font-weight: bold;
  border: none;
  background-color: #85a8ca;
  color: #fff;
  width: 192px;
  font-size: 14px;
  text-transform: uppercase;
}

.btnPro {
  background-color: #f5c894;
}

/* Icon Footer */

.socialRow {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.socialRow > .centerContainer > ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.socialRow > .centerContainer > ul > li {
  background-color: #344c64;
  border-radius: 50%;
  text-align: center;
  padding: 14px;
  fill: #fff;
  color: #fff;
}

p > a {
  text-decoration: none;
  color: #365e86;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

@keyframes move {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10px);
  }
}
