@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
  box-sizing: border-box;
}

html,
body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1px;
  color: rgb(58, 76, 98);
}

body {
  display: flex;
  flex-direction: column;
  color: rgb(58, 76, 98);
  font-family: "Montserrat", "sans-serif";
}

/* Navigation Section */
.navRow {
  display: flex;
  font-size: 20px;
}

.navSection > ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.navSection > ul > li {
  flex: 1;
  line-height: 35px;
  font-weight: bold;
  padding: 12px;
}

.navSection > ul > #navLogo {
  font-size: 26px;
  flex: 5;
  font-weight: bold;
}

.navSection > ul > li > a {
  text-decoration: none;
  font-size: 16px;
  color: rgb(58, 76, 98);
}

/* Hero Section */

.heroSection {
  display: flex;
  position: relative;
  height: calc(100vh - 80px);
  flex-direction: column;
  background-color: #5b93ca;
  background-image: url("/images/shop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  text-align: center;
  padding: 32px;
}

.heroSection > h1 {
  position: absolute;
  top: 30%;
  left: 50%;
  font-size: 80px;
  width: 100%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  transition: 0.5s;
  background: linear-gradient(rgb(58, 76, 98) 20%, transparent 110%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heroSection > h1:hover {
  letter-spacing: 12px;
}

/* About Section */
.aboutSection {
  display: flex;
  justify-content: center;
  background-image: url("/images/88847-pastelBG.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  text-align: center;
  padding: 60px;
}

.aboutSection > .centerContainer {
  width: 60%;
}

.aboutSection > .centerContainer > h1 {
  font-size: 50px;
}

.aboutSection > .centerContainer > hr {
  width: 150px;
  border: 2px solid #f6d9eb;
  background-color: #f6d9eb;
  margin-bottom: 50px;
  animation: move 1000ms infinite alternate;
}

.aboutSection > .centerContainer > h2 {
  padding-bottom: 20px;
  text-shadow: 2px 2px 10px #bcd6f0;
}

.aboutItemSection {
  display: flex;
  align-items: center;
}

.aboutItemBox {
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 16px 8px;
}

.aboutItemBox > p {
  margin: 0;
  font-weight: bold;
}

.aboutItemBox > hr {
  width: 100px;
  border: 2px solid #f6d9eb;
  background-color: #f6d9eb;
  margin-bottom: 50px;
}

.aboutItemBox > img {
  width: 80%;
  height: auto;
}

/* Service Section */

.serviceSection {
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: #8fbeee;
  align-items: center;
  text-align: center;
  padding: 32px;
}

.serviceSection > .centerContainer {
  width: 80%;
}

.serviceSection > .centerContainer > h1 {
  font-size: 50px;
  color: rgb(58, 76, 98);
}

.serviceSection > .centerContainer > hr {
  width: 150px;
  border: 2px solid #e5f6fd;
  background-color: #e5f6fd;
  margin-bottom: 40px;
  animation: move 1000ms infinite alternate;
}

.serviceSection > .centerContainer > h3 {
  text-transform: uppercase;
  text-shadow: 2px 2px 10px #bcd6f0;
  margin: 30px;
}

.serviceSection > .centerContainer > .priceList {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  text-transform: uppercase;
  border: 3px solid #fff;
}

.priceList > .image-box > img {
  width: 350px;
}

.priceList > .service-box {
  text-align: center;
  border: 3px solid #111;
}

.priceList > .box-left {
  flex: 1;
}

.priceList > .image-box {
  flex: 2;
}

.priceList > .box-right {
  flex: 1;
}

.priceList > .service-box > h2 {
  font-size: 30px;
  margin-top: 20px;
  text-align: center;
}

.priceList > .service-box > hr {
  width: 45px;
  border: 2px solid #e5f6fd;
  background-color: #e5f6fd;
  margin-bottom: 40px;
}

.priceList > .service-box > .list {
  width: 90%;
}

.priceList > .service-box > ul > li {
  float: left;
  width: 45%;
  margin: 5px;
  border: 3px dotted #f5c894;
}

.service-box > ul > li > h4 {
  font-weight: bolder;
}

.service-box > ul > li > p {
  font-size: 10px;
  margin: 5px;
  padding: 3px;
}

/* Contact section */
.contactSection {
  margin: 20px auto;
  color: #344c64;
  padding: 32px;
  text-align: center;
}

.contactSection > .centerContainer {
  width: 100%;
}

.contactSection > .centerContainer > .contact-text > h1 {
  font-size: 50px;
}

.centerContainer > .contact-text > hr {
  width: 150px;
  border: 2px solid #2a799b;
  background-color: #2a799b;
  margin-bottom: 40px;
  animation: move 1000ms infinite alternate;
}

.centerContainer > .contact-text > h3 {
  text-shadow: 2px 2px 5px #e3eaf1;
}

.contactSection > .centerContainer > .cardContainer {
  text-transform: uppercase;
  display: flex;
  align-items: flex-start;
  margin: 40px;
}

.cardBox {
  width: calc(400px - 50px);
  border: 2px solid #344c64;
  border-radius: 10px;
  padding: 30px;
  margin: 0 30px;
}

.box1 {
  flex: 1;
}

.box2 {
  flex: 1;
}

.box3 {
  flex: 1;
  padding: 40px 30px;
}

hr {
  width: 45px;
  border: 2px solid #2a799b;
  background-color: #2a799b;
  margin-bottom: 10px;
}

.cardBox > ul > li > h4 {
  font-weight: bolder;
}

.cardBox > ul > li > p {
  font-size: 10px;
  margin: 5px;
  padding: 3px;
}

/* Icon Footer */

.socialRow {
  align-items: center;
  text-align: center;
  padding: 20px;
}

.socialRow > .centerContainer > ul {
  width: 100%;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

@keyframes move {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10px);
  }
}
