@import url("https://fonts.googleapis.com/css?family=Kalam|Montserrat");
* {
  box-sizing: border-box;
  text-decoration: none;
}

html,
body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 1px;
  color: rgb(58, 76, 98);
}

body {
  background: #f3f3f3;
  color: rgb(58, 76, 98);
  font-family: "Montserrat", "sans-serif";
}

/* Navbar section */

nav > ul {
  background: #fff;
  display: block;
  width: 100%;
  height: 100px;
  padding: 10px;
  margin: 0px auto;
  text-transform: uppercase;
}

ul > #navLogo {
  text-align: center;
  font-size: 20px;
  font-weight: 900;
}

span {
  color: #b51b1d;
}

ul > li {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  padding: 8px;
  margin: 0 auto;
}

ul > li > img {
  width: 50px;
}

nav > ul > li > a.active,
nav > ul > li > a:hover {
  color: #b51b1d;
}

nav > ul > li > a::before {
  content: "";
  display: block;
  height: 5px;
  background: rgb(58, 76, 98);
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  transform: scale(0, 1);
  transition: transform ease-in-out 250ms;
}

nav > ul > li > a.active::before,
nav > ul > li > a:hover::before {
  transform: scale(1, 1);
}

/* hero section */

.heroSection {
  width: 100%;
  height: calc(100vh - 100px);
  background-image: url("/public/images/shop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.heroSection > ul > li {
  font-size: 40px;
  font-weight: 900;
  color: #fff;
  letter-spacing: 16px;
  line-height: 20px;
  margin: 10px auto;
  text-shadow: 3px 3px 3px #344c644b;
}

.text-animation > .spaces {
  margin-left: 30px;
}

.text-animation > .space {
  margin: 0 30px;
}

.text-animation > .spacing {
  margin: 20px;
  padding: 0 20px;
}

/* About section */

.aboutSection {
  align-items: center;
  text-align: center;
  margin: 0px;
  padding: 15px;
}

.aboutSection > .centerContainer > h1 {
  font-size: 60px;
  text-shadow: 2px 2px 2px #344c644b;
}

.aboutSection > .centerContainer > hr {
  width: 100px;
  border: 2px solid #f6d9eb;
  background-color: #f6d9eb;
  margin-bottom: 30px;
  animation: move 1000ms infinite alternate;
  box-shadow: 2px 2px 1px 0px rgba(84, 85, 84, 0.19);
}

@keyframes move {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10px);
  }
}

.aboutSection h2 {
  font-size: 20px;
}

.aboutContainer {
  width: 100%;
}

.aboutContainer .aboutItemSection {
  display: flex;
  flex-direction: column;
}

.aboutContainer .aboutItemBox {
  flex: 1;
  margin: 10px auto;
}

img.img-box {
  width: 100%;
}

.aboutItemBox > p {
  margin: 0;
  font-weight: bold;
  font-size: 20px;
}

blockquote {
  font-size: 20px;
  margin: 16px 0;
}

.aboutItemBox > hr {
  width: 70px;
  border: 2px solid #f6d9eb;
  background-color: #f6d9eb;
  margin-bottom: 40px;
  box-shadow: 2px 2px 1px 0px rgba(84, 85, 84, 0.19);
}

/* Service Section  */

.serviceSection {
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: #8fbeee;
  background-image: url("images/1125632.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px;
  margin: 15px auto;
}

.serviceSection > .centerContainer {
  width: 100%;
  align-items: center;
  text-align: center;
}

.serviceSection > .centerContainer > h1 {
  font-size: 40px;
  color: rgb(58, 76, 98);
  text-shadow: 2px 2px 2px #344c644b;
}

.serviceSection > .centerContainer > hr {
  width: 100px;
  border: 2px solid #e5f6fd;
  background-color: #e5f6fd;
  margin-bottom: 30px;
  animation: move 1000ms infinite alternate;
  box-shadow: 2px 2px 1px 0px rgba(84, 85, 84, 0.19);
}

.serviceSection > .centerContainer > p {
  font-weight: 400;
  font-size: 10px;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px #4646467a;
  margin: 20px;
}

.serviceSection > .centerContainer > .priceList {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  border: 5px solid #e5f6fd65;
  box-shadow: 0 2px 4px 0 rgba(1, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 3, 0, 0.19);
}

.priceList > .image-box > img {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(1, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 3, 0, 0.19);
}

.image-box {
  flex: 1;
}

.service-box {
  flex: 1;
  box-shadow: 0 2px 4px 0 rgba(1, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 3, 0, 0.19);
  text-align: center;
  border: 2px solid #2a799b;
  margin: 8px 0;
}

.priceList > .service-box > ul > li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.service-box > ul > li > p {
  color: #db1a1a;
  font-size: 16px;
  letter-spacing: 1px;
  margin: 0px;
  padding: 0px;
  text-align: right;
}

h3 {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}

/* Contact section */

.contactSection {
  text-align: center;
}

.contactSection > .centerContainer {
  width: 100%;
}

.contactSection > .centerContainer > .contact-text > h1 {
  font-size: 40px;
}

.centerContainer > .contact-text > hr {
  width: 100px;
  border: 2px solid #2a799b;
  background-color: #2a799b;
  margin-bottom: 20px;
  animation: move 1000ms infinite alternate;
  box-shadow: 2px 2px 1px 0px rgba(84, 85, 84, 0.19);
}

.centerContainer > .contact-text > h2 {
  text-shadow: 1px 1px 2px #e3eaf1;
  padding: 5px;
  margin: 0;
  font-size: 22px;
}

.contactSection > .centerContainer > .cardContainer {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.cardBox {
  border: 2px solid #344c64;
  border-radius: 10px;
  padding: 15px;
  margin: 8px 20px;
}

.cardBox > .text {
  font-size: 16px;
  padding: 6px;
}

.cardBox > .contact-info {
  font-size: 18px;
  padding: 10px;
}

.list {
  display: flex;
  flex-direction: column;
}

.list > li {
  margin: 0;
  padding: 0;
}

.list h3 {
  padding-top: 10px;
}

hr {
  width: 45px;
  border: 2px solid #2a799b;
  background-color: #2a799b;
  margin-bottom: 10px;
}

.cardBox > ul > li > p {
  font-size: 18px;
  margin: 0px;
  padding: 0px;
}

.parking > h3 {
  width: 100%;
  font-size: 18px;
  text-shadow: 1px 1px 2px #e3eaf1;
  padding: 0px 5px;
  margin: 0px auto;
  line-height: 25px;
}

/* Icon */

.icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* Footer Social Section */

.socialSection {
  width: 100%;
  bottom: 0px;
  text-align: center;
  padding: 15px;
  letter-spacing: 1px;
}

/* IPAD MEDIA */

@media screen and (min-width: 750px) {
  .text-animation {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }

  .heroSection > ul > li {
    display: inline-block;
    font-size: 90px;
    margin: 5px auto;
    font-weight: 900;
    letter-spacing: 20px;
    line-height: 80px;
    opacity: 1;
    transition: all 2.5s ease;
    background: linear-gradient(rgb(58, 76, 98) 30%, transparent 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 0px 0px #344c644b;
  }

  .text-animation > .spaces {
    margin-left: 60px;
  }

  .text-animation > .space {
    margin: 0 90px;
  }

  .text-animation > .spacing {
    margin: 30px 100px;
    padding: 0 20px;
  }

  .text-animation > li:last-child {
    margin-right: 0;
  }

  .text-animation.hidden {
    opacity: 0;
  }

  .text-animation.hidden li:nth-child(1) {
    transform: translate(-200px, -200px);
  }
  .text-animation.hidden li:nth-child(2) {
    transform: translate(20px, 100px);
  }
  .text-animation.hidden li:nth-child(3) {
    transform: translate(-150px, -80px);
  }
  .text-animation.hidden li:nth-child(4) {
    transform: translate(90px, -200px);
  }
  .text-animation.hidden li:nth-child(5) {
    transform: translate(-300px, 200px);
  }
  .text-animation.hidden li:nth-child(6) {
    transform: translate(20px, -20px);
  }
  .text-animation.hidden li:nth-child(7) {
    transform: translate(30px, 200px);
  }
  .text-animation.hidden li:nth-child(8) {
    transform: translate(-200px, -100px);
  }
  .text-animation.hidden li:nth-child(9) {
    transform: translate(-200px, -200px);
  }
  .text-animation.hidden li:nth-child(10) {
    transform: translate(300px, 100px);
  }
  .text-animation.hidden li:nth-child(11) {
    transform: translate(-150px, -80px);
  }
  .text-animation.hidden li:nth-child(12) {
    transform: translate(10px, -200px);
  }
  .text-animation.hidden li:nth-child(13) {
    transform: translate(-300px, 200px);
  }
  .text-animation.hidden li:nth-child(14) {
    transform: translate(200px, 100px);
  }
  .text-animation.hidden li:nth-child(15) {
    transform: translate(30px, 200px);
  }
  .text-animation.hidden li:nth-child(16) {
    transform: translate(200px, -100px);
  }
  .text-animation.hidden li:nth-child(17) {
    transform: translate(-200px, -200px);
  }
  .text-animation.hidden li:nth-child(18) {
    transform: translate(200px, 300px);
  }
  .text-animation.hidden li:nth-child(19) {
    transform: translate(-300px, 200px);
  }
  .text-animation.hidden li:nth-child(20) {
    transform: translate(20px, -20px);
  }
  .text-animation.hidden li:nth-child(21) {
    transform: translate(30px, 200px);
  }
  .text-animation.hidden li:nth-child(22) {
    transform: translate(200px, 90px);
  }

  /* About section */

  .aboutSection {
    align-items: center;
    text-align: center;
    margin: 0px;
    padding: 15px;
  }

  .centerContainer > h1 {
    font-size: 80px;
    text-shadow: 2px 2px 2px #344c644b;
  }

  .aboutSection > .centerContainer > hr {
    width: 125px;
    border: 2px solid #f6d9eb;
    background-color: #f6d9eb;
    margin-bottom: 30px;
    animation: move 1000ms infinite alternate;
    box-shadow: 2px 2px 1px 0px rgba(84, 85, 84, 0.19);
  }

  .aboutSection h2 {
    font-size: 25px;
  }

  .aboutContainer .aboutItemSection {
    display: flex;
    flex-direction: row;
  }

  .aboutContainer .aboutItemBox {
    flex: 1;
    margin: 10px 5px;
    align-self: center;
  }

  img.img-box {
    width: 100%;
  }

  .aboutItemBox > p {
    margin: 0;
    font-weight: bold;
    font-size: 22px;
  }

  blockquote {
    font-size: 22px;
    margin: 16px 0;
  }

  .aboutItemBox > hr {
    width: 70px;
    border: 2px solid #f6d9eb;
    background-color: #f6d9eb;
    margin-bottom: 40px;
    box-shadow: 2px 2px 1px 0px rgba(84, 85, 84, 0.19);
  }
}

@media screen and (min-width: 1600px) {
  /* Navigation Section */

  /* nav {
    font-size: 20px;
  }

  nav > ul {
    position: fixed;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.678);
    width: 100%;
    height: 60px;
    z-index: 1;
  }

  nav > ul > li {
    flex: 1;
    line-height: 35px;
    font-weight: bold;
    padding: 12px;
  }

  nav > ul > li > img {
    width: 7%;
    margin: -10px -5px -10px 20px;
  }

  nav > ul > #navLogo {
    text-transform: uppercase;
    font-size: 25px;
    flex: 5;
    font-weight: bold;
  }

  #navLogo > span {
    color: #b51b1d;
  }

  nav > ul > li > a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    color: rgb(58, 76, 98);
    transition: 0.3s;
    position: relative;
  }

  nav > ul > li > a.active,
  nav > ul > li > a:hover {
    color: #b51b1d;
  }

  nav > ul > li > a::before {
    content: "";
    display: block;
    height: 5px;
    background: rgb(58, 76, 98);
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav > ul > li > a.active::before,
  nav > ul > li > a:hover::before {
    transform: scale(1, 1);
  } */

  /* Hero Section */

  /* .heroSection {
    display: flex;
    position: relative;
    height: calc(100vh - 10px);
    flex-direction: column;
    background-color: #5b93ca;
    background-image: url("images/shop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    text-align: center;
    padding: 32px;
  }

  .text-animation {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  } */

  /* .text-animation > li {
    display: inline-block;
    font-size: 70px;
    margin-right: 5px;
    font-weight: 900;
    opacity: 1;
    transition: all 2.5s ease;
    background: linear-gradient(rgb(58, 76, 98) 20%, transparent 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  } */

  /* .text-animation > .spaces {
    margin: 15px;
  }

  .text-animation > li:last-child {
    margin-right: 0;
  }

  .text-animation.hidden {
    opacity: 0;
  }

  .text-animation.hidden li:nth-child(1) {
    transform: translate(-200px, -200px);
  }
  .text-animation.hidden li:nth-child(2) {
    transform: translate(20px, 100px);
  }
  .text-animation.hidden li:nth-child(3) {
    transform: translate(-150px, -80px);
  }
  .text-animation.hidden li:nth-child(4) {
    transform: translate(90px, -200px);
  }
  .text-animation.hidden li:nth-child(5) {
    transform: translate(-300px, 200px);
  }
  .text-animation.hidden li:nth-child(6) {
    transform: translate(20px, -20px);
  }
  .text-animation.hidden li:nth-child(7) {
    transform: translate(30px, 200px);
  }
  .text-animation.hidden li:nth-child(8) {
    transform: translate(-200px, -100px);
  }
  .text-animation.hidden li:nth-child(9) {
    transform: translate(-200px, -200px);
  }
  .text-animation.hidden li:nth-child(10) {
    transform: translate(300px, 100px);
  }
  .text-animation.hidden li:nth-child(11) {
    transform: translate(-150px, -80px);
  }
  .text-animation.hidden li:nth-child(12) {
    transform: translate(10px, -200px);
  }
  .text-animation.hidden li:nth-child(13) {
    transform: translate(-300px, 200px);
  }
  .text-animation.hidden li:nth-child(14) {
    transform: translate(200px, 100px);
  }
  .text-animation.hidden li:nth-child(15) {
    transform: translate(30px, 200px);
  }
  .text-animation.hidden li:nth-child(16) {
    transform: translate(200px, -100px);
  }
  .text-animation.hidden li:nth-child(17) {
    transform: translate(-200px, -200px);
  }
  .text-animation.hidden li:nth-child(18) {
    transform: translate(200px, 300px);
  }
  .text-animation.hidden li:nth-child(19) {
    transform: translate(-300px, 200px);
  }
  .text-animation.hidden li:nth-child(20) {
    transform: translate(20px, -20px);
  }
  .text-animation.hidden li:nth-child(21) {
    transform: translate(30px, 200px);
  }
  .text-animation.hidden li:nth-child(22) {
    transform: translate(200px, 90px);
  }
} */
  /* About Section */

  /* .aboutSection {
    display: flex;
    justify-content: center;
    background-image: url("images/background-pastel.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    text-align: center;
    padding: 70px;
  }

  .aboutSection > .centerContainer {
    width: 100%;
  }

  .aboutSection > .centerContainer > h1 {
    font-size: 50px;
    text-shadow: 2px 2px 2px #344c644b;
  }

  .aboutSection > .centerContainer > hr {
    width: 150px;
    border: 2px solid #f6d9eb;
    background-color: #f6d9eb;
    margin-bottom: 30px;
    animation: move 1000ms infinite alternate;
    box-shadow: 2px 2px 1px 0px rgba(84, 85, 84, 0.19);
  }

  .aboutSection > .centerContainer > h2 {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
    text-shadow: 2px 2px 10px #bcd6f0;
  }

  .aboutContainer {
    display: inline-block;
    width: 70%;
    margin: 0;
  }

  .aboutItemSection {
    display: flex;
    align-items: center;
  }

  .aboutItemBox {
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 16px 8px;
  }

  img.img-box {
    box-shadow: 0 4px 8px 0 rgba(1, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 3, 0, 0.19);
  }

  .aboutItemBox > p {
    margin: 0;
    font-weight: bold;
    font-size: 20px;
  }

  blockquote {
    font-size: 20px;
    margin: 16px 0;
  }

  .aboutItemBox > hr {
    width: 100px;
    border: 2px solid #f6d9eb;
    background-color: #f6d9eb;
    margin-bottom: 40px;
    box-shadow: 2px 2px 1px 0px rgba(84, 85, 84, 0.19);
  }

  .aboutItemBox > img {
    width: 80%;
    height: auto;
  } */

  /* Service Section */

  /* .serviceSection {
    display: flex;
    flex-direction: column;
    color: #fff;
    background-color: #8fbeee;
    background-image: url("images/1125632.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    text-align: center;
    padding: 60px;
  }

  .serviceSection > .centerContainer {
    width: 90%;
    height: calc(100vh - 120px);
  }

  .serviceSection > .centerContainer > h1 {
    font-size: 50px;
    color: rgb(58, 76, 98);
    text-shadow: 2px 2px 2px #344c644b;
  }

  .serviceSection > .centerContainer > hr {
    width: 150px;
    border: 2px solid #e5f6fd;
    background-color: #e5f6fd;
    margin-bottom: 30px;
    animation: move 1000ms infinite alternate;
    box-shadow: 2px 2px 1px 0px rgba(84, 85, 84, 0.19);
  }

  .serviceSection > .centerContainer > p {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #4646467a;
    margin: 20px;
  }

  .serviceSection > .centerContainer > .priceList {
    width: calc(80% - 5%);
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    text-transform: uppercase;
    border: 5px solid #e5f6fd65;
    box-shadow: 0 2px 4px 0 rgba(1, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 3, 0, 0.19);
  }

  .serviceSection > .centerContainer > .priceList > div {
    margin: 10px;
  }

  .image-box {
    flex: 1;
  }

  .service-box {
    flex: 1;
    box-shadow: 0 2px 4px 0 rgba(1, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 3, 0, 0.19);
  }

  .priceList > .image-box > img {
    width: 310px;
    box-shadow: 0 4px 8px 0 rgba(1, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 3, 0, 0.19);
  }

  .priceList > .service-box {
    text-align: center;
    border: 2px solid #2a799b;
  }

  .priceList > .service-box > ul > li {
    text-align: left;
    padding: 10px 20px;
  }

  .service-box > ul > li > p {
    color: #ff7777;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 0px;
    padding: 0px;
    text-shadow: -1px 0 #995555, 0 1px #995555, 1px 0 #995555, 0 -1px #995555;
  }

  h3 {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
  } */

  /* Contact section */

  /* .contactSection {
    margin: 20px auto;
    color: #344c64;
    padding: 70px 70px 0 70px;
    text-align: center;
  }

  .contactSection > .centerContainer {
    width: 100%;
    height: calc(100vh - 140px);
  }

  .contactSection > .centerContainer > .contact-text > h1 {
    font-size: 50px;
  }

  .centerContainer > .contact-text > hr {
    width: 150px;
    border: 2px solid #2a799b;
    background-color: #2a799b;
    margin-bottom: 20px;
    animation: move 1000ms infinite alternate;
    box-shadow: 2px 2px 1px 0px rgba(84, 85, 84, 0.19);
  }

  .centerContainer > .contact-text > h2 {
    text-shadow: 1px 1px 2px #e3eaf1;
    padding: 10px;
  }

  .contactSection > .centerContainer > .cardContainer {
    text-transform: uppercase;
    display: flex;
    align-items: flex-start;
    margin: 20px;
  }

  .cardBox {
    width: calc(400px - 50px);
    border: 2px solid #344c64;
    border-radius: 10px;
    padding: 15px;
    margin: 0 20px;
  }

  .cardBox > .text {
    font-size: 16px;
    padding: 6px;
  }

  .cardBox > .contact-info {
    font-size: 18px;
    padding: 10px;
  }

  .box1 {
    flex: 1;
  }

  .box2 {
    flex: 1;
  }

  .box3 {
    flex: 1;
    padding: 25px 15px;
  }

  hr {
    width: 45px;
    border: 2px solid #2a799b;
    background-color: #2a799b;
    margin-bottom: 10px;
  }

  .cardBox > ul > li > p {
    font-size: 18px;
    margin: 0px;
    padding: 3px;
  }

  .parking > h3 {
    text-shadow: 1px 1px 2px #e3eaf1;
    padding-top: 5px;
    line-height: 30px;
  } */

  /* Icon */

  /* .icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  } */

  /* Footer Social Section */

  /* .socialSection {
    width: 100%;
    bottom: 0px;
    text-align: center;
    padding-bottom: 10px;
    letter-spacing: 1px;
  } */
}
