@import url("https://fonts.googleapis.com/css?family=Kalam|Montserrat");

* {
  box-sizing: border-box;
  text-decoration: none;
}

html,
body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 1px;
  color: rgb(58, 76, 98);
}

body {
  background: #f3f3f3;
  color: rgb(58, 76, 98);
  font-family: "Montserrat", "sans-serif";
  background-color: #fff;
}

/* Navbar section */

nav > ul {
  background: #fff;
  display: block;
  width: 100%;
  height: 100px;
  padding: 10px;
  margin: 0px auto;
  text-transform: uppercase;
}

ul > #navLogo {
  font-size: 20px;
  font-weight: 900;
}

span {
  color: #b51b1d;
}

ul > li {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  padding: 8px;
  margin: 0 auto;
}

ul > li > img {
  width: 50px;
}

/* hero section */

.heroSection {
  width: 100%;
  height: calc(100vh - 100px);
  background-image: url("/public/images/shop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 22px;
}

.heroSection > ul > li {
  font-size: 40px;
  font-weight: 900;
  color: #fff;
  letter-spacing: 20px;
  line-height: 50px;
  margin: 5px auto;
  padding: 0px;
  text-shadow: 3px 3px 3px #344c644b;
}

.text-animation > .spaces {
  margin: 0 20px;
}

.text-animation > .space {
  margin: 0 40px;
}

.text-animation > .spacing {
  margin: 0 30px;
  padding: 0 20px;
}

/* About section */

.aboutSection {
  background-image: url("/public/images/background-pastel.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  align-items: center;
  text-align: center;
  margin: 0px;
  padding: 15px;
}

.aboutSection > .centerContainer > h1 {
  font-size: 40px;
  text-shadow: 2px 2px 2px #344c644b;
}

.aboutSection > .centerContainer > hr {
  width: 100px;
  border: 2px solid #f6d9eb;
  background-color: #f6d9eb;
  margin-bottom: 30px;
  animation: move 1000ms infinite alternate;
  box-shadow: 2px 2px 1px 0px rgba(84, 85, 84, 0.19);
}

@keyframes move {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10px);
  }
}

.aboutSection h2 {
  font-size: 20px;
}

.aboutContainer {
  width: 100%;
}

.aboutContainer .aboutItemSection {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.aboutContainer .aboutItemBox {
  flex: 1;
  margin: 10px auto;
}

img.img-box {
  width: 100%;
}

.aboutItemBox > p {
  margin: 0;
  font-weight: bold;
  font-size: 20px;
}

blockquote {
  font-size: 20px;
  margin: 16px 0;
}

.aboutItemBox > hr {
  width: 70px;
  border: 2px solid #f6d9eb;
  background-color: #f6d9eb;
  margin-bottom: 40px;
  box-shadow: 2px 2px 1px 0px rgba(84, 85, 84, 0.19);
}

/* Service Section  */

.serviceSection {
  display: flex;
  flex-direction: column;
  background-color: #8fbeee;
  background-image: url("/public/images/1125632.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px;
  margin: 0px auto;
}

.serviceSection > .centerContainer {
  width: 100%;
  align-items: center;
  text-align: center;
}

.serviceSection > .centerContainer > h1 {
  font-size: 40px;
  color: rgb(58, 76, 98);
  text-shadow: 2px 2px 2px #344c644b;
}

.serviceSection > .centerContainer > hr {
  width: 100px;
  border: 2px solid #e5f6fd;
  background-color: #e5f6fd;
  margin-bottom: 30px;
  animation: move 1000ms infinite alternate;
  box-shadow: 2px 2px 1px 0px rgba(84, 85, 84, 0.19);
}

.serviceSection > .centerContainer > p {
  font-weight: 400;
  font-size: 25px;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px #4646467a;
  margin: 20px;
}

.serviceSection > .centerContainer > .priceList {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  padding: 5px;
  border: 5px solid #e5f6fd65;
  box-shadow: 0 2px 4px 0 rgba(1, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 3, 0, 0.19);
}

.priceList > .image-box > img {
  width: 75%;
  transform: rotate(270deg);
  margin: -30px;
  box-shadow: 0 4px 8px 0 rgba(1, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 3, 0, 0.19);
}

.image-box {
  flex: 1;
}

.service-box {
  flex: 1;
  box-shadow: 0 2px 4px 0 rgba(1, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 3, 0, 0.19);
  text-align: center;
  border: 2px solid #2a799b;
  margin: 8px 0;
}

.priceList > .service-box > ul > li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
}

.service-box > ul > li > p {
  color: #db1a1a;
  font-size: 16px;
  letter-spacing: 1px;
  margin: 0px;
  padding: 3px;
  text-align: right;
}

.centerContainer h3 {
  text-align: center;
  align-items: center;
  margin: 0px auto;
  padding-top: 10px;
}

/* Contact section */

.contactSection {
  text-align: center;
  background-color: #fff;
}

.contactSection > .centerContainer {
  width: 100%;
}

.contactSection > .centerContainer > .contact-text > h1 {
  font-size: 40px;
}

.centerContainer > .contact-text > hr {
  width: 100px;
  border: 2px solid #2a799b;
  background-color: #2a799b;
  margin-bottom: 20px;
  animation: move 1000ms infinite alternate;
  box-shadow: 2px 2px 1px 0px rgba(84, 85, 84, 0.19);
}

.centerContainer > .contact-text > h2 {
  text-shadow: 1px 1px 2px #e3eaf1;
  padding: 5px;
  margin: 0;
  font-size: 22px;
}

.contactSection > .centerContainer > .cardContainer {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.cardBox {
  border: 2px solid #344c64;
  border-radius: 10px;
  padding: 15px;
  margin: 8px 20px;
}

.cardBox > .text {
  font-size: 16px;
  padding: 6px;
}

.cardBox > .contact-info {
  font-size: 18px;
  padding: 10px;
}

.list {
  display: flex;
  flex-direction: column;
}

.list > li {
  margin: 0;
  padding: 0;
}

.list h3 {
  padding-top: 10px;
}

hr {
  width: 45px;
  border: 2px solid #2a799b;
  background-color: #2a799b;
  margin-bottom: 10px;
}

.cardBox > ul > li > p {
  font-size: 18px;
  margin: 0px;
  padding: 0px;
}

.parking > h3 {
  width: 100%;
  font-size: 18px;
  text-shadow: 1px 1px 2px #e3eaf1;
  padding: 0px 5px;
  margin: 0px auto;
  line-height: 25px;
}

/* Icon */

.icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* Footer Social Section */

.socialSection {
  font-size: 10px;
  width: 100%;
  text-align: center;
  padding: 20px;
  letter-spacing: 1px;
}

/* ************ IPAD MEDIA ***************************** */

@media screen and (min-width: 750px) {
  nav > ul {
    position: fixed;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.678);
    width: 100%;
    height: 60px;
    z-index: 1;
  }

  nav > ul > li {
    flex: 1;
    line-height: 35px;
    font-weight: bold;
    padding: 5px;
  }

  nav > ul > li > img {
    width: 15%;
    margin: -10px -5px -10px 20px;
  }

  nav > ul > #navLogo {
    flex: 5;
    font-weight: bold;
  }

  #navLogo > span {
    color: #b51b1d;
  }

  nav > ul > li > a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    color: rgb(58, 76, 98);
    transition: 0.3s;
    position: relative;
  }

  nav > ul > li > a.active,
  nav > ul > li > a:hover {
    color: #b51b1d;
  }

  nav > ul > li > a::before {
    content: "";
    display: block;
    height: 5px;
    background: rgb(58, 76, 98);
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav > ul > li > a.active::before,
  nav > ul > li > a:hover::before {
    transform: scale(1, 1);
  }

  /* Hero Section  IPAD  */

  .heroSection {
    height: calc(100vh - 10px);
  }

  .text-animation {
    position: absolute;
    top: 25%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    margin: 15px;
    padding: 0;
    text-transform: uppercase;
  }

  .heroSection > ul > li {
    display: inline-block;
    font-size: 110px;
    font-weight: 900;
    letter-spacing: 20px;
    line-height: 90px;
    opacity: 1;
    transition: all 2.5s ease;
    background: linear-gradient(rgb(58, 76, 98) 30%, transparent 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 0px 0px #344c644b;
  }

  .text-animation > .spaces {
    margin: 0 50px;
  }

  .text-animation > .space {
    margin: 0 95px;
  }

  .text-animation > .spacing {
    margin: 30px 100px;
    padding: 0 20px;
  }

  .text-animation > li:last-child {
    margin-right: 0;
  }

  .text-animation.hidden {
    opacity: 0;
  }

  .text-animation.hidden li:nth-child(1) {
    transform: translate(-200px, -200px);
  }
  .text-animation.hidden li:nth-child(2) {
    transform: translate(20px, 100px);
  }
  .text-animation.hidden li:nth-child(3) {
    transform: translate(-150px, -80px);
  }
  .text-animation.hidden li:nth-child(4) {
    transform: translate(90px, -200px);
  }
  .text-animation.hidden li:nth-child(5) {
    transform: translate(-300px, 200px);
  }
  .text-animation.hidden li:nth-child(6) {
    transform: translate(20px, -20px);
  }
  .text-animation.hidden li:nth-child(7) {
    transform: translate(30px, 200px);
  }
  .text-animation.hidden li:nth-child(8) {
    transform: translate(-200px, -100px);
  }
  .text-animation.hidden li:nth-child(9) {
    transform: translate(-200px, -200px);
  }
  .text-animation.hidden li:nth-child(10) {
    transform: translate(300px, 100px);
  }
  .text-animation.hidden li:nth-child(11) {
    transform: translate(-150px, -80px);
  }
  .text-animation.hidden li:nth-child(12) {
    transform: translate(10px, -200px);
  }
  .text-animation.hidden li:nth-child(13) {
    transform: translate(-300px, 200px);
  }
  .text-animation.hidden li:nth-child(14) {
    transform: translate(200px, 100px);
  }
  .text-animation.hidden li:nth-child(15) {
    transform: translate(30px, 200px);
  }
  .text-animation.hidden li:nth-child(16) {
    transform: translate(200px, -100px);
  }
  .text-animation.hidden li:nth-child(17) {
    transform: translate(-200px, -200px);
  }
  .text-animation.hidden li:nth-child(18) {
    transform: translate(200px, 300px);
  }
  .text-animation.hidden li:nth-child(19) {
    transform: translate(-300px, 200px);
  }
  .text-animation.hidden li:nth-child(20) {
    transform: translate(20px, -20px);
  }
  .text-animation.hidden li:nth-child(21) {
    transform: translate(30px, 200px);
  }
  .text-animation.hidden li:nth-child(22) {
    transform: translate(200px, 90px);
  }

  /* About section   IPAD  */
  .aboutSection {
    padding: 60px 0;
  }

  .aboutSection > .centerContainer > h1 {
    font-size: 60px;
  }

  .aboutSection > .centerContainer > hr {
    width: 125px;
  }

  .aboutSection h2 {
    font-size: 25px;
  }

  .aboutContainer .aboutItemSection {
    display: flex;
    flex-direction: row;
  }

  .aboutContainer .aboutItemBox {
    margin: 10px 5px;
    align-self: center;
  }

  .aboutItemBox > p {
    font-size: 22px;
  }

  blockquote {
    font-size: 22px;
  }

  .aboutItemBox > hr {
    width: 70px;
  }

  /* Service Section     IPAD */

  .serviceSection {
    padding: 60px 20px;
  }

  .serviceSection > .centerContainer > h1 {
    font-size: 60px;
  }

  .serviceSection > .centerContainer > hr {
    width: 125px;
  }

  .serviceSection > .centerContainer > p {
    font-weight: 600;
    font-size: 22px;
  }

  .serviceSection > .centerContainer > .priceList {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 8px auto;
  }

  .priceList > .image-box > img {
    width: 0%;
  }

  .image-box {
    flex: 0;
  }

  .priceList > .service-box > ul > li {
    padding: 12px 20px;
    font-size: 20px;
  }

  .service-box > ul > li > p {
    font-size: 20px;
    padding: 0;
  }

  .centerContainer > h3 {
    font-size: 20px;
  }

  /* Contact section    IPAD */

  .contactSection {
    padding: 60px 0 0;
  }

  .contactSection > .centerContainer {
    width: 100%;
    height: calc(100vh - 180px);
  }

  .contactSection > .centerContainer > .contact-text > h1 {
    font-size: 60px;
  }

  .centerContainer > .contact-text > hr {
    width: 125px;
  }

  .centerContainer > .contact-text > h2 {
    font-size: 25px;
    padding: 15px;
  }

  .contactSection > .centerContainer > .cardContainer {
    display: flex;
    flex-direction: row;
  }

  .cardBox {
    flex: 1;
    margin: 8px 5px;
    color: #000;
    font-weight: 400;
  }

  .parking > h3 {
    width: 90%;
    font-size: 20px;
  }

  /* Footer Social Section    IPAD */

  .socialSection {
    font-size: 16px;
  }
}

/* ******************** 800 media ******************** */

@media screen and (min-width: 800px) {
  /*  HERO SECTION  *** 800 media ***/

  .heroSection > ul > li {
    font-size: 85px;
    letter-spacing: 10px;
    margin: 10px 0;
  }

  .text-animation > .spaces {
    margin: 0 15px;
    padding: 0px;
  }

  .text-animation > .space {
    margin: 0px;
  }

  .text-animation > .spacing {
    margin: 0px 6px;
    padding: 0px;
  }

  /* About section *** 800 media ***/

  .aboutSection > .centerContainer > h1 {
    font-size: 40px;
  }

  .aboutSection > .centerContainer > hr {
    width: 100px;
  }

  .aboutSection h2 {
    width: 90%;
    margin: 10px auto;
    font-size: 20px;
  }

  .aboutItemBox > p {
    font-size: 20px;
  }

  blockquote {
    font-size: 20px;
  }

  /* Service Section  *** 800 media ***/

  .serviceSection {
    padding: 80px 0 0;
  }

  .serviceSection > .centerContainer {
    width: 100%;
    height: calc(100vh - 125px);
  }

  .serviceSection > .centerContainer > h1 {
    font-size: 40px;
  }

  .serviceSection > .centerContainer > hr {
    width: 100px;
  }

  .serviceSection > .centerContainer > p {
    font-size: 18px;
  }

  .serviceSection > .centerContainer > .priceList {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .image-box {
    flex: 0;
  }

  .service-box {
    flex: 1;
    box-shadow: 0 2px 4px 0 rgba(1, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 3, 0, 0.19);
    text-align: center;
    border: 2px solid #2a799b;
    margin: 0px 8px;
  }

  .priceList > .service-box > ul > li {
    font-size: 16px;
  }

  .service-box > ul > li > p {
    font-size: 16px;
  }

  /* Contact section *** 800 media ***/

  .contactSection > .centerContainer {
    width: 100%;
    height: calc(100vh - 140px);
  }

  .contactSection > .centerContainer > .contact-text > h1 {
    font-size: 40px;
  }

  .centerContainer > .contact-text > hr {
    width: 100px;
  }

  .centerContainer > .contact-text > h2 {
    font-size: 20px;
  }

  .parking > h3 {
    font-size: 18px;
  }
}

/* ********************* 1200 media ********************* */

@media screen and (min-width: 1200px) {
  nav > ul > li > img {
    width: 10%;
  }

  nav > ul > #navLogo {
    font-size: 25px;
  }

  /* Hero Section *** 1200 media ****/

  .heroSection > ul > li {
    font-size: 73px;
    letter-spacing: 0px;
    margin: 0px;
  }

  .text-animation {
    margin: 0px;
  }

  .text-animation > .spaces {
    margin: 0 6px;
    padding: 0px;
  }

  .text-animation > .space {
    margin: 0 6px;
  }

  .text-animation > .spacing {
    margin: 0 6px;
  }

  /* About section *** 1200 media ****/
  .aboutSection {
    padding: 60px;
  }

  .aboutSection > .centerContainer {
    width: 80%;
    margin: 0 auto;
  }

  .aboutSection > .centerContainer > h1 {
    font-size: 50px;
  }

  /* Service Section  *** 1200 media ****/

  .serviceSection {
    position: relative;
    padding: 60px 10px;
  }

  .serviceSection > .centerContainer {
    width: 90%;
    margin: 0 auto;
    height: calc(100vh - 125px);
  }

  .serviceSection > .centerContainer > h1 {
    font-size: 50px;
  }

  .serviceSection > .centerContainer > hr {
    width: 125px;
  }

  .serviceSection > .centerContainer > p {
    font-size: 18px;
  }

  .serviceSection > .centerContainer > .priceList {
    width: 90%;
    margin: 5px auto;
  }

  .priceList > .image-box > img {
    width: 85%;
    transform: rotate(360deg);
    margin: 0px;
  }

  .image-box {
    flex: 1;
  }

  .service-box {
    flex: 1;
    margin: 0 10px;
  }

  .priceList > .service-box > ul > li {
    font-size: 16px;
    padding: 18px 10px;
  }

  .service-box > ul > li > p {
    font-size: 16px;
  }

  .centerContainer h3 {
    position: absolute;
  }

  /* Contact section *** 1200 media ****/

  .contactSection {
    padding: 60px 0 0 0;
  }

  .contactSection > .centerContainer {
    width: 100%;
    height: calc(100vh - 130px);
  }

  .contactSection > .centerContainer > .contact-text > h1 {
    font-size: 50px;
  }

  .centerContainer > .contact-text > hr {
    width: 125px;
  }

  .centerContainer > .contact-text > h2 {
    padding: 10px;
  }

  .cardBox {
    margin: 0 20px;
  }

  .cardBox > .list {
    letter-spacing: 1px;
  }

  .parking > h3 {
    padding: 10px;
    font-size: 18px;
  }

  /* Footer Social Section *** 1200 media ****/

  .socialSection {
    padding: 15px 0;
  }
}

/* ************** 1600 MEDIA ********************* */

@media screen and (min-width: 1600px) {
  /* Navigation Section *** 1200 media ****/

  nav > ul > li > img {
    width: 7%;
  }

  /* Hero Section *** 1600 MEDIA ****/

  .heroSection > ul > li {
    font-size: 100px;
    letter-spacing: 0px;
    margin: 0px auto;
    padding: 5px;
  }

  .text-animation {
    margin: 0px;
  }

  .text-animation > .spaces {
    margin: 0 20px;
    padding: 0px;
  }

  .text-animation > .space {
    margin: 0 20px;
  }

  .text-animation > .spacing {
    margin: 0 20px;
  }

  /* About Section *** 1600 MEDIA ****/

  .aboutSection > .centerContainer > h2 {
    width: 80%;
    padding-bottom: 20px;
  }

  .aboutContainer {
    width: 80%;
    margin: 0 auto;
  }

  /* Service Section *** 1200 media ****/

  .serviceSection > .centerContainer {
    width: 80%;
    margin: 0 auto;
    height: calc(100vh - 125px);
  }

  .serviceSection > .centerContainer > .priceList {
    width: 95%;
  }

  .centerContainer > h3 {
    padding: 30px;
  }

  /* Contact section *** 1200 media ****/

  .contactSection > .centerContainer {
    width: 80%;
    margin: 0 auto;
  }

  .contactSection > .centerContainer > .contact-text > h1 {
    font-size: 50px;
  }

  .contactSection > .centerContainer > .cardContainer {
    align-items: flex-start;
  }

  .centerContainer > .contact-text > h2 {
    padding: 25px;
  }

  .box3 {
    padding: 25px 15px;
  }

  .parking > h3 {
    padding-top: 20px;
    line-height: 30px;
  }
}
